In [1]:
!pip install pyspark faker

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting faker
  Downloading Faker-30.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker) (1.16.0)
Downloading Faker-30.1.0-py3-none-any.whl (1.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 41.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=76a6a12eef6d2757244fa030e654a9005cc8b36222838f72902ed1c0f235e2eb
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark, faker
Successfully installed faker-30.1.0 pyspark-3.5.3

In [51]:
from pyspark.sql import SparkSession
from faker import Faker
import random
from datetime import datetime, timedelta

# Criando sessão Spark e instanciando o Faker
spark = SparkSession.builder.appName('bank_balances').getOrCreate()
fake = Faker()

def generate_data(n):
    data = []
    for _ in range(n):
        name = fake.name()
        balance = round(random.uniform(1000, 10000), 2)
        account_number = fake.bban()
        city = fake.city()
        state = fake.state()
        birth_date = fake.date_of_birth(minimum_age=18, maximum_age=80)  # Mantém como datetime
        age = datetime.today().year - birth_date.year  # Calcula a idade

        # Calcula a data a partir dos 18 anos do cliente
        min_account_create_date = birth_date + timedelta(days=18*365)

        # Gera a data de criação da conta, começando a partir dos 18 anos do cliente
        create_account_date = fake.date_between(start_date=min_account_create_date, end_date='today')
        account_age = datetime.today().year - create_account_date.year  # Calcula a idade da conta

        # Agora formatamos create_account_date para string depois de calcular a idade da conta
        create_account_date_str = create_account_date.strftime('%d-%m-%Y')

        # Montamos os dados e adicionamos à lista
        data.append((name, balance, account_number, city, age, account_age, create_account_date_str, birth_date.strftime('%d-%m-%Y')))  # Converte a data de nascimento para string
    return data

# Gerando os dados
dados = generate_data(50000)

# Definindo o schema para o DataFrame
colunas = ['name', 'balance', 'account_number', 'city', 'age', 'account_age', 'create_account_date', 'birth_date']

# Criando o DataFrame PySpark
df = spark.createDataFrame(dados, schema=colunas)

# Exibindo os 10 primeiros registros
df.show(10)

+-------------------+-------+------------------+----------------+---+-----------+-------------------+----------+
|               name|balance|    account_number|            city|age|account_age|create_account_date|birth_date|
+-------------------+-------+------------------+----------------+---+-----------+-------------------+----------+
|       Rachel Jones|2020.51|MTQF70972047414106|     Michaelberg| 66|         29|         18-01-1995|17-02-1958|
|      Jacob Flowers|3204.92|GEAT95699522480569|      Harmonside| 81|         25|         04-07-1999|27-10-1943|
|      Joseph Morgan|8674.33|SGJD66529557897484|    Michellebury| 19|          1|         09-11-2023|11-08-2005|
|     Crystal Steele|5129.72|FNRB00054006263651| Port Josephtown| 69|         41|         16-08-1983|08-05-1955|
|      Kevin Johnson| 8759.1|VVJO57967779343736|     Carrieville| 57|          7|         15-07-2017|28-08-1967|
|Regina Contreras MD|5573.53|PSAW84626641264294|West Chelseafurt| 44|         22|         12-06-2002|03-05-1980|
|    Anthony Gregory|8711.58|IBUW16014678311865|    Crawfordberg| 46|         23|         17-01-2001|24-07-1978|
|      Michael Green|9758.25|HKWA85091535742643|    Mitchellport| 66|          1|         16-04-2023|21-12-1958|
|      Michael Jones|5292.48|UYDW67833703329474|      Danielfurt| 26|          3|         23-09-2021|12-10-1998|
|      Eddie Bennett|1724.83|CNFA97033332199838|      New Marcus| 66|         19|         24-10-2005|26-03-1958|
+-------------------+-------+------------------+----------------+---+-----------+-------------------+----------+
only showing top 10 rows

In [52]:
df.count()

50000

In [53]:
# ordenação dos dados pelo saldo

df_ordenado = df.orderBy(df.balance.desc()).limit(10)

# <.limit(10)> limita a 10 o tamanho da lista... podendo ser usado qualquer valor.

df_ordenado.show()

+------------------+-------+------------------+----------------+---+-----------+-------------------+----------+
|              name|balance|    account_number|            city|age|account_age|create_account_date|birth_date|
+------------------+-------+------------------+----------------+---+-----------+-------------------+----------+
|Debbie Herrera DDS|9999.86|CVWQ55936715002212|       East Todd| 32|          8|         22-05-2016|30-12-1992|
|     Caitlin Stark|9999.71|BZJZ52392250408146|New Kristineport| 28|          1|         18-05-2023|11-04-1996|
|Kathleen Contreras| 9999.5|KCYK58564922964783|       Quinnland| 53|          9|         08-02-2015|27-06-1971|
|      Rachel Davis|9999.21|DGWS36189950316315|  Hernandezmouth| 26|          5|         10-08-2019|27-08-1998|
|    Paige Chandler|9998.93|FVXZ54735928563961|  East Terryland| 60|          6|         21-12-2018|11-10-1964|
|   Sheri Hernandez|9998.89|SABX30282279069427|      Ritterbury| 39|         16|         11-03-2008|08-02-1985|
| Mr. Ronald Rivera|9998.83|ETHZ16727588350212| South Cassandra| 44|         23|         18-12-2001|27-11-1980|
|       Kevin Davis|9998.49|JISL30222742900203| South Alexburgh| 58|         30|         07-01-1994|08-01-1966|
|     Charles Mills|9998.39|EOPC63513176426599|    South Shelby| 51|         11|         04-01-2013|05-09-1973|
|   Gregory Dickson|9998.22|LHTM23063069644839|   East Michelle| 56|         14|         12-07-2010|16-01-1968|
+------------------+-------+------------------+----------------+---+-----------+-------------------+----------+

In [54]:
# Busca de contas com saldo maior que um valor específico.

valor = 5000

df_valor_acima = df.filter(df.balance > valor)

df_valor_acima.show()

+-------------------+-------+------------------+-----------------+---+-----------+-------------------+----------+
|               name|balance|    account_number|             city|age|account_age|create_account_date|birth_date|
+-------------------+-------+------------------+-----------------+---+-----------+-------------------+----------+
|      Joseph Morgan|8674.33|SGJD66529557897484|     Michellebury| 19|          1|         09-11-2023|11-08-2005|
|     Crystal Steele|5129.72|FNRB00054006263651|  Port Josephtown| 69|         41|         16-08-1983|08-05-1955|
|      Kevin Johnson| 8759.1|VVJO57967779343736|      Carrieville| 57|          7|         15-07-2017|28-08-1967|
|Regina Contreras MD|5573.53|PSAW84626641264294| West Chelseafurt| 44|         22|         12-06-2002|03-05-1980|
|    Anthony Gregory|8711.58|IBUW16014678311865|     Crawfordberg| 46|         23|         17-01-2001|24-07-1978|
|      Michael Green|9758.25|HKWA85091535742643|     Mitchellport| 66|          1|         16-04-2023|21-12-1958|
|      Michael Jones|5292.48|UYDW67833703329474|       Danielfurt| 26|          3|         23-09-2021|12-10-1998|
|        Colin Baker|6531.94|PTPL17318078198591|        Reneeberg| 58|         38|         19-05-1986|18-04-1966|
|     Tiffany Hebert|8036.19|PHFF98959904655110|       Jamesville| 43|          2|         27-07-2022|08-09-1981|
| Spencer Richardson|8261.38|NPAP56356814547895|        Yatesbury| 53|          7|         26-01-2017|19-09-1971|
|     Brittany Davis|7135.53|SKUN62666000033001|      Port Jeremy| 65|         39|         28-12-1985|11-08-1959|
|     Travis Barrera|5437.57|ULDL62907720719677|North Charlesfort| 46|          5|         28-12-2019|13-01-1978|
|       Janet Burton|6361.82|SLPF99937466359206| West Christopher| 76|         27|         14-07-1997|19-05-1948|
|     Kristine Bauer|5696.56|QBOP77664552225550|       Walkerberg| 74|         50|         10-12-1974|13-06-1950|
|       Wayne Garcia|7276.06|KNUS32680394008473|      Lake Martin| 75|         28|         18-11-1996|12-08-1949|
|      Steve Edwards|8704.79|TULU92441079605536|      Port Ronald| 67|         19|         11-04-2005|13-06-1957|
|       James Moreno|7038.25|KIBE73934718698327|  Lake Sharishire| 64|         43|         09-10-1981|20-05-1960|
|        Robin House|6394.32|KDQR77568893354446|       New Johnny| 47|         28|         01-07-1996|14-04-1977|
|      Daniel Parker|6610.75|SGXU47711117566417|       Lake Megan| 54|         21|         05-05-2003|17-04-1970|
|       Kara Andrews|9232.78|BYGU47464965702887|     Johnsonmouth| 64|         35|         24-05-1989|25-02-1960|
+-------------------+-------+------------------+-----------------+---+-----------+-------------------+----------+
only showing top 20 rows

In [55]:
df_valor_acima.count()

27749

In [62]:
# Busca de cliente com uma idade maior que uma específica.

idade = 60

df_idade_acima = df.filter(df.age > idade)

df_idade_acima.show(10)
print('-----'*50)
print('clientes acima de', idade, "=", df_idade_acima.count(), 'clientes')

+--------------+-------+------------------+----------------+---+-----------+-------------------+----------+
|          name|balance|    account_number|            city|age|account_age|create_account_date|birth_date|
+--------------+-------+------------------+----------------+---+-----------+-------------------+----------+
|  Rachel Jones|2020.51|MTQF70972047414106|     Michaelberg| 66|         29|         18-01-1995|17-02-1958|
| Jacob Flowers|3204.92|GEAT95699522480569|      Harmonside| 81|         25|         04-07-1999|27-10-1943|
|Crystal Steele|5129.72|FNRB00054006263651| Port Josephtown| 69|         41|         16-08-1983|08-05-1955|
| Michael Green|9758.25|HKWA85091535742643|    Mitchellport| 66|          1|         16-04-2023|21-12-1958|
| Eddie Bennett|1724.83|CNFA97033332199838|      New Marcus| 66|         19|         24-10-2005|26-03-1958|
|Brittany Davis|7135.53|SKUN62666000033001|     Port Jeremy| 65|         39|         28-12-1985|11-08-1959|
|  Janet Burton|6361.82|SLPF99937466359206|West Christopher| 76|         27|         14-07-1997|19-05-1948|
|Kristine Bauer|5696.56|QBOP77664552225550|      Walkerberg| 74|         50|         10-12-1974|13-06-1950|
|Elizabeth Vega|3267.76|CHAV02377995905761|       Bobbytown| 75|         34|         12-01-1990|07-05-1949|
|  Wayne Garcia|7276.06|KNUS32680394008473|     Lake Martin| 75|         28|         18-11-1996|12-08-1949|
+--------------+-------+------------------+----------------+---+-----------+-------------------+----------+
only showing top 10 rows

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
clientes acima de 60 = 16211 clientes

In [61]:
# Definindo os limites de idade e criando a condição para saldo maior
idade_min = 30
idade_max = 50
idade_min_conta = 10

# Filtrando os clientes com idade entre 30 e 50 anos e idade da conta menor ou igual a 10 anos
df_clientes_filtrados = df.filter(
    (df.age >= idade_min) &
    (df.age <= idade_max) &
    (df.account_age >= idade_min_conta)
).orderBy(df.balance.desc())

# Exibindo os 10 clientes com maior saldo dentro da faixa etária
df_clientes_filtrados.show(10)

# Exibindo o número total de clientes nessa condição
print('-----' * 50)
print()
print('Total de clientes entre', idade_min, 'e', idade_max, 'anos', 'com conta a mais de', idade_min_conta, 'anos =', df_clientes_filtrados.count(), 'clientes')

+-----------------+-------+------------------+------------------+---+-----------+-------------------+----------+
|             name|balance|    account_number|              city|age|account_age|create_account_date|birth_date|
+-----------------+-------+------------------+------------------+---+-----------+-------------------+----------+
|  Sheri Hernandez|9998.89|SABX30282279069427|        Ritterbury| 39|         16|         11-03-2008|08-02-1985|
|Mr. Ronald Rivera|9998.83|ETHZ16727588350212|   South Cassandra| 44|         23|         18-12-2001|27-11-1980|
|      Tina Foster|9997.47|EXXV62472888209282|    East Christina| 41|         10|         01-07-2014|08-09-1983|
|      Ronald Ward|9996.97|VXRX18804312720427|       West Daniel| 33|         10|         03-12-2014|16-02-1991|
|       Mario Bell| 9996.8|BTGQ01585058489421|     New Alexandra| 35|         11|         14-07-2013|18-06-1989|
| Amanda Carpenter|9996.57|SFWG68648572661240|West Danielleshire| 35|         12|         25-05-2012|28-01-1989|
|       Tracy Ward|9994.73|HGRP99850059339808|   Williamschester| 49|         21|         22-02-2003|11-06-1975|
|    Thomas Cherry|9993.02|UEVF07737694468667|South Williammouth| 49|         13|         29-12-2011|09-08-1975|
|    David Rosario|9991.27|IMOH16954972488698|  Lake Laurenmouth| 50|         18|         21-02-2006|04-11-1974|
|    James Herrera|9991.22|JLIU05594274363136|        East Maria| 39|         13|         17-05-2011|13-10-1985|
+-----------------+-------+------------------+------------------+---+-----------+-------------------+----------+
only showing top 10 rows

----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Total de clientes entre 30 e 50 anos com conta a mais de 10 anos = 8649 clientes